<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_07_ADO_SQL_Server.My.MySettings.BD_Empleados_2020_IIConnectionString"
            connectionString="Data Source=ANGEL-PC;Initial Catalog=BD_Empleados_2020_II;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>